<!-- use ng-template to inject error alert and the directive created in shared folder to -->
<ng-template appPlaceholder></ng-template>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <!-- use ngIf to declaratively load dynamic components like an alert - error comes from the auth component and message is from the alert component settable with the @Input decorator applied -->
    <!-- <app-alert
      [message]="error"
      *ngIf="error"
      (close)="onHandleError()"
    ></app-alert> -->
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email</label>
        <!-- Using the template driven form approach - put ngModel on input and give a name and use builtin ng validators required etc -->
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
        />
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
        />
      </div>
      <div>
        <button
          class="button btn-primary"
          type="submit"
          [disabled]="!authForm.valid"
        >
          {{ isLoginMode ? "Login" : "Signup" }}
        </button>
        |
        <!-- remember to change types of buttons to button or submit so that the correct one submits the form only 
             if the button does not have a type="button" on it then it will submit the form and create a unecessary http request-->
        <button
          class="button btn-primary"
          (click)="onSwitchMode()"
          type="button"
        >
          Switch to {{ isLoginMode ? "Signup" : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
